{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSameLine": false,
  "printWidth": 80,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "arrowParens": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "arrowParens": "always"
      }
    }
  ]
}
